/* CSS Document */
#logo{
	width: 100%;
	height: 11.57vh;
	background-color: #fff;
	background: rgb(164,179,87); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(164,179,87,1) 42%, rgba(117,137,12,1) 85%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(164,179,87,1) 42%,rgba(117,137,12,1) 85%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(164,179,87,1) 42%,rgba(117,137,12,1) 85%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#logo svg{
	width: 5vw;
}